h1
{
color: black ;
text-align: center;
font-family: 'Bebas Neue', cursive;

background-color: aqua;
background-position: center;
width: 10%;
margin: 2% auto;
padding:0px 15px;
border: 1px solid black;
border-radius: 10px;

}
body{
    
    background-size: cover;
    background-blend-mode: screen;
    background-image: url(https://images.unsplash.com/photo-1601991115814-b8360bc728d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background: content-box radial-gradient(rgba(220, 20, 60, 0.548), rgba(135, 207, 235, 0.658));
}
button{
    color: #5f2300;
    background-color:#A6A297;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: black solid;
    transition: all 0.2sec linear;
}
button:hover{
    color: white;
    background-color: #A61414;
    transform: translateY(-.2em);
    border-color: #A61414;
    cursor: pointer;
    box-shadow: 0px 8px 20px -6px #F25C05;
    transition:all;
    transition-duration: .25sec;
}
form{
    color: #A61414;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    color: #F2EDDC;
    background-color: #F2EDDC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select{
    background-color: #F2EDDC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}