body, html {
    height: 100%;
    margin: 0;
    
  }
.container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
}  
.row{
    height: 100%;
    margin: 0;
}
#img {
    /* The image used */
    background-image: url("explore.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
#text {
  font-weight: 600;
}

@media(max-width:650px){
  #text{
    font-size: 4rem;
    font-weight: 600;
  }
}

@media(max-width:450px){
  #text{
    font-size: 2rem;
    font-weight: 600;
  }
}

@media(max-width:550px){
  .col-6 div button{
    font-size: 10px;
  }
}